.side-div{
    background-color: white;
    height: 100vh;
    width: 65vw;
    transition: 0.4s;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    

    
    
}
.x{
    background-color: transparent;
    border: 0px;
    color: rgba(105, 112, 125, 100);
    scale: 1.3;
    font-weight: 700;
    cursor: pointer;
    align-self: flex-start;
    position: absolute;
    top: 20px;
    left: 10px;
}

.close-animation{
    position: absolute;
    top: 0px;
    left: -100vw;
}

.open-animation{
    position: absolute;
    top: 0px;
    left: 0px;
}

.blur{
    background-color: rgba(0, 0, 0, 0.678);
    position: absolute;
    width: 35vw;
    height: 100vh;
    top: 0px;
    right: -35vw
}

.side-menu-buttons{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    margin-top: 80px;
}