@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);
    --Verydarkblue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --Grayishblue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);




}

html{
    scroll-behavior: smooth;
}


*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;

}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 125px;
    padding-top: 60px;
    
}

@media (min-width:900px){
    .side-div{
        display: none !important;
    }
    .menu-btn{
        display: none !important;
    }
    .header-div{
        padding: 40px 165px!important;
    }
    .cart-div {
        scale: 1.5;
    }
    

  
}
@media (max-width:900px){
    .menu-buttons{
        display: none !important;
    }
    .line{
        display: none;
    }
    .main-content{
        flex-direction: column;
    }
    .add-to-cart-div{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .price-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .cart-summary{
        left: -185px !important;
    }

    .img-div{
        max-width: 100vw;
    }
    .product-div{
        scale: 0.9;
    }
    

  
}
